# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# PyCharm
.idea/

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env
bmi_records.csv
